<!DOCTYPE html>
<html class="wide wow-animation scrollTo smoothscroll" lang="zh_tw">
    <head>
        <title>8A娛樂——亞洲最新興的博彩娛樂集團</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <!-- meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")-->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta name="robots" content="noindex,nofollow">
        <meta name="date" content="Aug 14">
        <meta name="viewport" content="width=device-width,maximum-scale=1.0,initial-scale=1.0,user-scalable=0">
        <meta property="og:title" content="8A娛樂——亞洲最新興的博彩娛樂集團">
        <meta property="og:description" content="8A平台重量打造，專注真人視訊的博彩平台，嚴格遵循國際標準流程和公平、公正、公開的原則，從洗牌到發牌全程跟蹤和監測。">
        <meta name="description" content="8A平台重量打造，專注真人視訊的博彩平台，嚴格遵循國際標準流程和公平、公正、公開的原則，從洗牌到發牌全程跟蹤和監測。">
        <meta property="og:image">
        <meta name="keywords" content="8A ,8A娛樂,8A平台,真人娛樂,電子遊戲,體育投注,遊戲,優惠活動,百家樂,現金遊戲,開戶,優惠,返水,在線娛樂平台,免費試玩,空戰世紀,博彩娛樂,現場賭廳">
        <!-- Stylesheets-->
        <link rel="icon" href="favicon.f3e621e1.ico" type="image/x-icon">
        <link rel="stylesheet" href="style-concat.cf5f31a5.css">
        <script>
            var ie = undefined;
            if (/MSIE ([0-9]+)/g.exec(window.navigator.userAgent)) {
              ie = /MSIE ([0-9]+)/g.exec(window.navigator.userAgent)[1];
            }
            
            if(+ie <= 8) {
              window.location.href = "update-browser.html";
            }
        </script><!--[if IE 9 ]> 
        <style>
            .dropTri:after {
              display: none;
            }
            #lang-arrow {
              display: none;
            }
            
        </style><![endif]-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    </head>
    <body class="index">
        <div class="loading_screen">
            <div class="load_con"><img class="logo" src="8A_logo.75b5d38d.svg"></div>
        </div>
        <!--all popup-->
                <div class="modal fade message-modal free-trial">
                    <div class="modal-dialog">
                        <div class="modal-close"><span class="popup-close" data-dismiss="modal" aria-label="Close">Close</span></div>
                        <div class="modal-content">
                            <div class="message-title">免費試玩開戶
                                <div class="common-title-line wide"></div>
                            </div>
                            <div class="message-subtitle"></div>
                            <!--link to bank-->
                            <div class="message-trial-wrapper">
                                <form id="free-trial-form" method="POST" action="">
                                    <div class="common-trial-slides active" id="trial-slide-1">
                                        <div class="form-group row">
                                            <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 formLabelWrapper text-left"><span class="formLabel">手機號碼</span><span class="formStar">*</span></div>
                                            <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9 register-input-wrapper target-error-point">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                                                    <input class="form-control register-form-input" type="text" value="" name="mobile" data-required="" data-msg="請填寫手機號碼" data-regex="^[0-9]{5,}$" data-regex-msg="手機號碼格式不符合" data-api-msg="手機號碼已存在">
                                                </div>
                                                <!-- .col-lg-6.col-md-6.col-sm-6.col-xs-6#sms-btn-wrapper-->
                                                <!--   a(href="#" class="gold-btn" id="send-sms-btn") 發送-->
                                                <div class="register-form-remark gold">請務必填寫真實手機號碼，以接收您的登入密碼。</div>
                                                <div class="custom-error-message static"></div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 formLabelWrapper text-left"><span class="formLabel">驗證碼</span><span class="formStar">*</span></div>
                                            <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 register-input-wrapper target-error-point">
                                                <input class="form-control register-form-input code" type="text" value="" name="captcha_code" data-required="" data-msg="請填寫驗證碼" data-api-msg="請填寫正確的資料">
                                                <div class="custom-error-message static"></div>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5 register-input-wrapper trial-code-wrapper"><a class="refresh-btn" href="javascript:void(0)" id="demo-refresh-captcha"><i class="ac ac-header_code form-refresh-icon"></i></a>
                                                <div class="captcha-border">
                                                    <!-- img(src="../../images/capcha/ooCaptcha.php?width=70&height=32&length=4&elements=1234567890&color=d1c39e&bcolor=0d121f&ncolor=9e9e9e" class="captchaReload")--><span class="init-captcha" data-id="4"></span><img src="ooCaptcha.464622b3.php?width=80&amp;height=35&amp;length=4&amp;elements=23456789bcdfghjkmnpqrstvwxyz&amp;color=d1c39e&amp;bcolor=0d121f&amp;ncolor=9e9e9e&amp;id=4">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="message-btn-wrapper"><a class="popup-btn" href="#" id="free-trial-btn" data-dismiss="none" aria-label="Close">發送</a></div>
                                    </div>
                                    <div class="common-trial-slides" id="trial-slide-2">
                                        <div class="message-title"><i class="ac ac-popup_success_icon popup-icons"></i></div>
                                        <div class="message-subtitle">你已成功開啟試玩帳號</div>
                                        <div class="message-alert-desc"> </div>
                                        <div class="message-btn-wrapper"><a class="popup-btn" href="login.html" id="free-trial-btn" data-slide="1">完成</a></div>
                                    </div>
                                    <!-- #trial-slide-3.common-trial-slides-->
                                    <!--   .message-title-->
                                    <!--     i.ac.ac-popup_fail_icon.popup-icons-->
                                    <!--   .message-subtitle(class=subtitleClass) 開啟試玩帳號失敗-->
                                    <!--   .message-alert-desc -->
                                    <!--   .message-btn-wrapper-->
                                    <!--     a(href="#" id=buttonId class="jump-trial-slide" data-slide=1).popup-btn 返回-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade message-modal free-trial-success">
                    <div class="modal-dialog">
                        <div class="modal-close"><span class="popup-close" data-dismiss="modal" aria-label="Close">Close</span></div>
                        <div class="modal-content">
                            <div class="message-title">你已成功開啟試玩帳號
                                <div class="common-title-line wide"></div><i class="ac ac-popup_success_icon popup-icons"></i>
                            </div>
                            <div class="message-subtitle"></div>
                            <!--link to bank-->
                            <div class="message-btn-wrapper"><a class="popup-btn" href="#" id="close-modal-btn" data-dismiss="modal" aria-label="Close">關閉</a></div>
                        </div>
                    </div>
                </div>
                <div class="modal fade message-modal free-trial-fail">
                    <div class="modal-dialog">
                        <div class="modal-close"><span class="popup-close" data-dismiss="modal" aria-label="Close">Close</span></div>
                        <div class="modal-content">
                            <div class="message-title">開啟試玩帳號失敗
                                <div class="common-title-line wide"></div><i class="ac ac-popup_fail_icon popup-icons"></i>
                            </div>
                            <div class="message-subtitle"></div>
                            <!--link to bank-->
                            <div class="message-btn-wrapper"><a class="popup-btn" href="#" id="close-modal-btn" data-dismiss="modal" aria-label="Close">關閉</a></div>
                        </div>
                    </div>
                </div>
                <div class="modal fade message-modal wrong-captcha">
                    <div class="modal-dialog">
                        <div class="modal-close"><span class="popup-close" data-dismiss="modal" aria-label="Close">Close</span></div>
                        <div class="modal-content">
                            <div class="message-title">驗證碼錯誤
                                <div class="common-title-line wide"></div><i class="ac ac-popup_fail_icon popup-icons"></i>
                            </div>
                            <div class="message-subtitle">請重刷再嘗試輸入驗證碼</div>
                            <!--link to bank-->
                            <div class="message-btn-wrapper"><a class="popup-btn" href="#" id="close-modal-btn" data-dismiss="modal" aria-label="Close">關閉</a></div>
                        </div>
                    </div>
                </div>
                <div class="modal fade message-modal login-fail">
                    <div class="modal-dialog">
                        <div class="modal-close"><span class="popup-close" data-dismiss="modal" aria-label="Close">Close</span></div>
                        <div class="modal-content">
                            <div class="message-title">登入失敗
                                <div class="common-title-line wide"></div><i class="ac ac-popup_fail_icon popup-icons"></i>
                            </div>
                            <div class="message-subtitle">請確認您的帳號及密碼是否正確</div>
                            <!--link to bank-->
                            <div class="message-btn-wrapper"><a class="popup-btn" href="#" id="close-modal-btn" data-dismiss="modal" aria-label="Close">關閉</a></div>
                        </div>
                    </div>
                </div>
        <!--mobile bottom fix-->
        <div class="show-in-mobile display col-xs-12" id="mobile-bottom-fixed">
            <div class="mobile-bot-btn-wrapper"><a class="col-xs-6 fix-bottom-btn mobile-btn-gold show-in-demo" href="register.html">真實開戶</a><a class="col-xs-6 fix-bottom-btn mobile-btn-red show-in-demo" id="free-to-play-m" href="javascript:void(0)" target="_blank">免費試玩</a></div>
            <div class="mobile-bot-btn-wrapper"><a class="col-xs-6 fix-bottom-btn mobile-btn-gold show-in-real" href="member.html">會員專區</a><a class="col-xs-6 fix-bottom-btn mobile-btn-red show-in-real gameLoginLink" href="javascript:void(0)" target="_blank">進入遊戲</a></div>
        </div>
        <div class="desktop" id="top-notice-bar">
            <div class="container" id="top-notice-bar-wrapper">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-center text-center" id="top-notice-bar-padding">
                    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12" id="left-notice-part"><span class="gold-text" id="latest-news-label">最新消息</span><span class="notice-text displayNone">
                            <div id="notice-animate">
                                <div class="running" v-for="record in records">{{record.publish_time}} :  {{record.content}}</div>
                            </div></span><span class="notice-more gold-text"> <a href="news.html">更多<i class="ac ac-header_arrow news-arrow"></i></a></span></div>
                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12" id="right-notice-part">
                        <div class="notice-ul">
                            <li><a href="about_8a.html">關於8A</a></li>
                            <li><a class="redirect-check" href="member.html" data-redirect="login.html" data-redirect-demo="register.html">會員專區</a></li>
                            <li><a href="download.html">下載中心</a></li>
                            <li id="lang-li">
                                <select id="lang-wrapper">
                                    <option value="zh_tw" selected="selected">繁體</option>
                                    <option value="zh_cn">簡体</option>
                                </select><i class="ac ac-header_arrow lang-arrow gold-text" id="lang-arrow"></i>
                                <div class="clearfix"></div>
                            </li>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="common-gold-line"></div>
        <div id="overlay"></div>
        <div id="header-bg">
            <div id="header-bg-img">
                <div class="container">
                    <div class="col-lg-12 col-md-12 col-sm-12 header-wrapper">
                        <div class="col-lg-4 col-md-3 col-sm-2 col-xs-2" id="logo-light">
                            <div id="mobile-header-wrapper">
                                <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-center" id="logo-img"><a href="index.html"><img class="img-responsive hide-in-mobile" src="8A_logo.75b5d38d.svg"><img class="show-in-mobile display" src="logo-mobile.f6c70800.svg"></a></div>
                                <div class="clearfix"></div>
                                <div id="close-menu-mobile"><span></span><span></span></div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-10 col-xs-10" id="mobile-main-menu">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="login-form-padding">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" id="login-form-align">
                                    <div class="center_things width100">
                                        <div class="show-in-mobile show-after-login" id="mobile-welcome-wrapper">
                                            <div class="mobile-welcome-text">立即註冊 免費試玩</div>
                                            <div class="mobile-btn-wrapper">
                                                <div class="col-xs-6 mobile-padding"><a href="register.html">
                                                        <div class="mobile-btn-blue mobile-btn">註冊</div></a></div>
                                                <div class="col-xs-6 mobile-padding"><a href="login.html">
                                                        <div class="mobile-btn-gold mobile-btn"> <i class="ac ac-loginout_icon"></i>登入</div></a></div>
                                                <div class="clearfix"></div>
                                                <div class="forgot_pw_mobile"><a href="forget_pw.html">忘記密碼</a><span>|</span><a class="qqlink" href="#">聯絡客服</a></div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div id="login-text-wrapper"><i class="ac ac-tab_menu_1" id="header-people-icon"></i>
                                            <div id="after-login-text">你好!</div>
                                            <div id="after-login-name"> </div>
                                            <div id="after-login-amount">賬戶結餘 ： <span class="dollar-sign">$ </span><span id="current-balance">000</span></div>
                                        </div>
                                        <form id="menu-login-form" method="POST" action="/">
                                            <input name="grant_type" value="password" type="hidden">
                                            <div class="header-input-wrapper target-error-point">
                                                <div class="header-form-input-wrapper"><i class="ac ac-header_acc header-form-icons"></i>
                                                    <input class="header-form-input custom-error" type="text" name="username" placeholder="會員帳號" data-required="" data-msg="請填寫會員賬號" data-api-msg="會員賬號錯誤" data-regex-msg="會員賬號格式不符合" data-regex="^(?=.*[0-9])(?=.*[a-zA-Z])[a-zA-Z0-9]+$" data-min="6" data-max="20">
                                                </div>
                                                <div class="custom-error-message header-error-message"></div>
                                            </div>
                                            <div class="header-input-wrapper target-error-point">
                                                <div class="header-form-input-wrapper"><i class="ac ac-header_pw header-form-icons"></i>
                                                    <input class="header-form-input custom-error" type="password" name="password" placeholder="登入密碼" data-required="" data-msg="請填寫登入密碼" data-api-msg="登入密碼錯誤" data-regex-msg="登入密碼格式不符合" data-regex="^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$" data-min="5" data-max="9">
                                                </div>
                                                <div class="custom-error-message header-error-message"></div>
                                            </div>
                                            <div class="header-input-wrapper target-error-point">
                                                <div class="header-form-input-wrapper" id="code-wrapper"><font>驗證碼</font><a class="refreshCaptcha refresh-btn" href="#" id="login-refresh-captcha"><i class="ac ac-header_code header-form-icons"></i></a>
                                                    <input class="header-form-input code custom-error" name="captcha" type="text" placeholder="" data-required="" data-msg="請填寫驗證碼" data-api-msg="驗證碼錯誤">
                                                    <!--captcha--><span class="init-captcha" data-id="1"></span><img id="header-captcha" src="ooCaptcha.464622b3.php?width=80&amp;height=35&amp;length=4&amp;elements=23456789bcdfghjkmnpqrstvwxyz&amp;color=d1c39e&amp;bcolor=0d121f&amp;ncolor=9e9e9e&amp;id=1">
                                                </div>
                                                <div class="custom-error-message header-error-message"></div>
                                            </div>
                                        </form>
                                        <div id="menu-member-btn-wrapper"><a class="header-form-button" href="#" id="login-btn">立即登入</a><a class="header-form-button" href="register.html" target="_self" id="register-btn">真實開戶</a><a href="forget_pw.html" id="forget_pw">忘記密碼</a></div>
                                        <div id="menu-member-after-login-btn-wrapper"><a class="header-form-button" href="register.html" id="create-real-btn">真實開戶</a><a class="header-form-button" href="member.html" id="member-page-btn">會員專區</a><a class="header-form-button free-to-play gameLoginLink" href="#" target="_blank" id="game-login">進入遊戲</a><a class="header-form-button" href="javascript:void(0)" id="logout-btn"> <i class="ac ac-loginout_icon"></i>登出</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding-m-menu">
                                <div id="header-wrapper">
                                    <ul class="header-ul">
                                        <li class="active"><a href="index.html">首頁</a></li>
                                        <li><a href="real_people.html">真人娛樂</a></li>
                                        <li><a href="e-game.html">電子遊戲</a></li>
                                        <li><a href="coming_soon.html">體育投注</a></li>
                                        <li><a href="game.html">遊戲簡介</a></li>
                                        <li><a href="promotion.html">優惠活動</a></li>
                                        <li><a href="faq.html">常見問題</a></li>
                                        <li><a class="no-border" href="contact.html">聯絡我們</a></li>
                                        <div id="menu-light"><img src="menu_hover_light.ecc348c2.png"></div>
                                    </ul>
                                    <div id="mobile-top-menu">
                                        <div class="notice-ul">
                                            <li><a href="about_8a.html">關於8A</a></li>
                                            <li><a class="redirect-check" href="member.html" data-redirect="login.html" data-redirect-demo="register.html">會員專區</a></li>
                                            <li><a href="download.html">下載中心</a></li>
                                            <li id="lang-li">
                                                <select id="lang-wrapper">
                                                    <option value="zh_tw" selected="selected">繁體</option>
                                                    <option value="zh_cn">簡体</option>
                                                </select><i class="ac ac-header_arrow lang-arrow gold-text" id="lang-arrow"></i>
                                                <div class="clearfix"></div>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div id="mobile-menu-wrapper">
                        <div class="concon"><a href="index.html" id="mobile-logo"><img src="logo-mobile.f6c70800.svg"></a>
                            <div id="mobile-menu-btn"><span class="menu-bar"></span><span class="menu-bar"></span><span class="menu-bar"></span></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
        <!-- Page Contents-->
        <div class="wrapper-home">
            <!--promote box 1-->
            <div id="pormote-box-1">
                <div class="openClose"></div>
                <div class="pormote-border-1">
                    <table class="ranking-table">
                        <tr>
                            <th>會員帳號</th>
                            <th>中獎遊戲</th>
                            <th>獲得獎金</th>
                        </tr>
                    </table>
                    <div class="scrollHidden">
                        <table class="ranking-list"></table>
                    </div>
                </div>
                <div class="cc">
                    <div id="floating_ad_left"></div><img class="goldenFrame" src="floating_ad.72d50d42.png">
                </div>
            </div>
            <div id="promote-m-box">
                <div class="openCloseArrow"></div><a href="javascript:void(0)">
                    <p>遊戲</p>
                    <p>資訊</p></a>
            </div>
            <div id="pormote-box-2">
                <div class="pormote-border-2">
                    <div id="online-cs-text">在線客服<a class="qqlink" href="javascript:void(0)"></a></div>
                    <div id="online-text-wrapper"><a class="qqlink qqSHOW" href="#" target="_blank">
                            <div class="text-align-center">
                                <div class="online-text">QQ : </div>
                                <div class="online-text qqAccount"> </div>
                            </div></a><a class="skypeLink skypeSHOW" href="#" target="_blank">
                            <div class="text-align-center">
                                <div class="online-text">SKYPE : </div>
                                <div class="online-text skypeAccount"> </div>
                            </div></a>
                        <div class="text-align-center wechatSHOW">
                            <div class="online-text">微信 : </div>
                            <div class="online-text wechatAccount"> </div>
                            <div class="wechatQR_out"><img class="wechatQR"></div>
                        </div><a class="phoneLink phoneSHOW" href="#" target="_blank">
                            <div class="text-align-center">
                                <div class="online-text">手機號碼 : </div>
                                <div class="online-text phoneAccount"> </div>
                            </div></a><a class="whatsappLink whatsappSHOW" href="#" target="_blank">
                            <div class="text-align-center">
                                <div class="online-text">Whatsapp : </div>
                                <div class="online-text whatsappAccount"> </div>
                            </div></a>
                        <div class="text-center online-text-align first"><a href="register.html">真實開戶</a></div>
                    </div>
                    <div id="online-btn-wrapper">
                        <div class="online-btn-text online-text-align"><a class="redirect-check" href="member.html#saving" data-redirect="login.html" data-redirect-demo="register.html">會員充值</a></div>
                        <div class="online-btn-text online-text-align"><a class="redirect-check" href="member.html#withdraw" data-redirect="login.html" data-redirect-demo="register.html">會員取款</a>
                            <div id="floating-coins"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="free-to-play" id="free-to-play"><a href="javascript:void(0)" target="_blank" id="free-play-promote-img-zh_tw"></a></div>
            </div>
            <div class="active" id="promote-box-2-mobile">
                <div class="pormote-border-2-mobile">
                    <div class="mobile-floating-arrow"> </div>
                    <div class="mobile-floating-box-1"> <a class="qqlink" href="#">在線<br>客服</a></div>
                    <div class="mobile-floating-box-2 first"> <a href="register.html">註冊</a></div>
                    <div class="mobile-floating-box-2"> <a class="redirect-check" href="member.html#saving" data-redirect="login.html" data-redirect-demo="register.html">充值</a></div>
                    <div class="mobile-floating-box-3"> <a class="redirect-check" href="member.html#withdraw" data-redirect="login.html" data-redirect-demo="register.html">取款</a></div>
                </div>
                <div class="try-play-mobile">
                    <div class="try-play-mobile-border"><a href="#" target="_blank">免費<br>試玩</a></div>
                </div>
            </div>
            <div class="col-lg-10 col-md-11 col-sm-12 col-xs-12 col-center" id="big-banner-wrapper">
                <div class="home-banner-shadow-left home-banner-shadow"></div>
                <div id="home-banner-wrapper">
                    <div class="home-banner-slides" v-for="top in advertTop"><a v-bind:href="top.link" v-bind:target="top.open_link_type"><img class="full-width hide-in-mobile-phone" v-bind:src="top.desktop"><img class="full-width show-in-mobile-phone" v-bind:src="top.mobile"></a></div>
                </div>
                <div class="home-banner-shadow-right home-banner-shadow"></div>
                <div class="common-gold-line"></div>
            </div>
            <div class="clearfix"></div>
            <div class="wrapper">
                <!--poker bg-->
                <div id="poker-bg"><img src="index_poker.db2a2a83.png"></div>
                <div class="container max1000 pad-left-right-0 of-hid">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-center pad-left-right-0" id="bottom-wrapper">
                        <!--online platform-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center index-title"><span class="common-title">在線娛樂平台</span>
                            <div class="common-title-line"></div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 promote-wrapper">
                            <div class="box-border">
                                <div class="slider-tab-wrapper">
                                    <div class="tab-title">真人娛樂</div>
                                    <div class="tab-subtab-wrapper"><a class="tab-click active tab-subtab tab-four-items" href="#" data-tab="platform">8A平台</a></div>
                                </div>
                                <div class="tab-content active" target-tab="platform">
                                    <div class="common-realman-slider" id="promote-slider">
                                        <div class="pormote-slides">
                                            <div class="box-border-shadow"></div><img class="full-width hide-in-ipad" src="part1_a_banner.0ee8b732.png"><img class="full-width show-in-ipad" src="part1_bg_mobile.1459dda9.jpg">
                                            <div class="promote-title"><img class="hide-in-ipad" src="part1_a_word.39775bd6.png"><img class="show-in-ipad mobile-online-play-img" src="part1_word_mobile.ca4a6cf4.png"></div>
                                            <div class="promote-slides-desc-wrapper"> 
                                                <div class="promote-desc-text"> </div><a class="promote-desc-btn promote-login gameLoginLink" href="login.html">進入遊戲<i class="ac ac-header_arrow news-arrow"></i></a><a class="promote-desc-btn promote-free-play" href="javascript:void(0)" target="_blank">免費試玩<i class="ac ac-header_arrow news-arrow"></i></a>
                                            </div>
                                        </div>
                                        <div class="pormote-slides"><img class="full-width hide-in-ipad" src="part1_b_banner.230db5d2.jpg"><img class="full-width show-in-ipad" src="part1_bg_mobile_b.48c2bce2.jpg">
                                            <div class="promote-title"><img class="hide-in-ipad" src="part1_b_word.f6ffe606.png"><img class="show-in-ipad mobile-online-play-img" src="part1_word_mobile_b.f89ebdd4.png"></div>
                                            <div class="promote-slides-desc-wrapper"> 
                                                <div class="promote-desc-text"> </div><a class="promote-desc-btn promote-login gameLoginLink" href="login.html">進入遊戲<i class="ac ac-header_arrow news-arrow"></i></a><a class="promote-desc-btn promote-free-play" href="javascript:void(0)" target="_blank">免費試玩<i class="ac ac-header_arrow news-arrow"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content" target-tab="ag">
                                    <div class="common-realman-slider">
                                        <div class="pormote-slides">
                                            <div class="box-border-shadow"></div><img class="full-width hide-in-ipad" src="part1_a_banner.0ee8b732.png"><img class="full-width show-in-ipad" src="part1_bg_mobile.1459dda9.jpg">
                                            <div class="promote-title"><img class="hide-in-ipad" src="part1_a_word.39775bd6.png"><img class="show-in-ipad mobile-online-play-img" src="part1_word_mobile.ca4a6cf4.png"></div>
                                            <div class="promote-slides-desc-wrapper"> 
                                                <div class="promote-desc-text"> </div><a class="promote-desc-btn promote-login gameLoginLink" href="#" target="_blank">進入遊戲<i class="ac ac-header_arrow news-arrow"></i></a><a class="promote-desc-btn promote-free-play" href="#" target="_blank">免費試玩<i class="ac ac-header_arrow news-arrow"></i></a>
                                            </div>
                                        </div>
                                        <div class="pormote-slides"><img class="full-width hide-in-ipad" src="part1_a_banner.0ee8b732.png"><img class="full-width show-in-ipad" src="part1_bg_mobile.1459dda9.jpg">
                                            <div class="promote-title"><img class="hide-in-ipad" src="part1_a_word.39775bd6.png"><img class="show-in-ipad mobile-online-play-img" src="part1_word_mobile.ca4a6cf4.png"></div>
                                            <div class="promote-slides-desc-wrapper"> 
                                                <div class="promote-desc-text"> </div><a class="promote-desc-btn promote-login gameLoginLink" href="#" target="_blank">進入遊戲<i class="ac ac-header_arrow news-arrow"></i></a><a class="promote-desc-btn promote-free-play" href="#" target="_blank">免費試玩<i class="ac ac-header_arrow news-arrow"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content" target-tab="sa">
                                    <div class="common-realman-slider">
                                        <div class="pormote-slides">
                                            <div class="box-border-shadow"></div><img class="full-width hide-in-ipad" src="part1_a_banner.0ee8b732.png"><img class="full-width show-in-ipad" src="part1_bg_mobile.1459dda9.jpg">
                                            <div class="promote-title"><img class="hide-in-ipad" src="part1_a_word.39775bd6.png"><img class="show-in-ipad mobile-online-play-img" src="part1_word_mobile.ca4a6cf4.png"></div>
                                            <div class="promote-slides-desc-wrapper"> 
                                                <div class="promote-desc-text"> </div><a class="promote-desc-btn promote-login gameLoginLink" href="#" target="_blank">進入遊戲<i class="ac ac-header_arrow news-arrow"></i></a><a class="promote-desc-btn promote-free-play" href="#" target="_blank">免費試玩<i class="ac ac-header_arrow news-arrow"></i></a>
                                            </div>
                                        </div>
                                        <div class="pormote-slides"><img class="full-width hide-in-ipad" src="part1_a_banner.0ee8b732.png"><img class="full-width show-in-ipad" src="part1_bg_mobile.1459dda9.jpg">
                                            <div class="promote-title"><img class="hide-in-ipad" src="part1_a_word.39775bd6.png"><img class="show-in-ipad mobile-online-play-img" src="part1_word_mobile.ca4a6cf4.png"></div>
                                            <div class="promote-slides-desc-wrapper"> 
                                                <div class="promote-desc-text"> </div><a class="promote-desc-btn promote-login gameLoginLink" href="#" target="_blank">進入遊戲<i class="ac ac-header_arrow news-arrow"></i></a><a class="promote-desc-btn promote-free-play" href="#" target="_blank">免費試玩<i class="ac ac-header_arrow news-arrow"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content" target-tab="gold">
                                    <div class="common-realman-slider">
                                        <div class="pormote-slides">
                                            <div class="box-border-shadow"></div><img class="full-width hide-in-ipad" src="part1_a_banner.0ee8b732.png"><img class="full-width show-in-ipad" src="part1_bg_mobile.1459dda9.jpg">
                                            <div class="promote-title"><img class="hide-in-ipad" src="part1_a_word.39775bd6.png"><img class="show-in-ipad mobile-online-play-img" src="part1_word_mobile.ca4a6cf4.png"></div>
                                            <div class="promote-slides-desc-wrapper"> 
                                                <div class="promote-desc-text"> </div><a class="promote-desc-btn promote-login gameLoginLink" href="#" target="_blank">進入遊戲<i class="ac ac-header_arrow news-arrow"></i></a><a class="promote-desc-btn promote-free-play" href="#" target="_blank">免費試玩<i class="ac ac-header_arrow news-arrow"></i></a>
                                            </div>
                                        </div>
                                        <div class="pormote-slides"><img class="full-width hide-in-ipad" src="part1_a_banner.0ee8b732.png"><img class="full-width show-in-ipad" src="part1_bg_mobile.1459dda9.jpg">
                                            <div class="promote-title"><img class="hide-in-ipad" src="part1_a_word.39775bd6.png"><img class="show-in-ipad mobile-online-play-img" src="part1_word_mobile.ca4a6cf4.png"></div>
                                            <div class="promote-slides-desc-wrapper"> 
                                                <div class="promote-desc-text"> </div><a class="promote-desc-btn promote-login gameLoginLink" href="#" target="_blank">進入遊戲<i class="ac ac-header_arrow news-arrow"></i></a><a class="promote-desc-btn promote-free-play" href="#" target="_blank">免費試玩<i class="ac ac-header_arrow news-arrow"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 displayNone">
                            <div class="box-border" id="slick-center-advert">
                                <div v-for="ce in advertCenter"><a v-bind:href="ce.link" v-bind:target="ce.open_link_type"><img class="full-width hide-in-mobile-phone" v-bind:src="ce.desktop"></a><a v-bind:href="ce.link" v-bind:target="ce.open_link_type"><img class="full-width show-in-mobile-phone" v-bind:src="ce.mobile"></a></div>
                            </div>
                        </div>
                        <!--game slider-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bottom-box-wrapper first-box">
                            <div class="box-border">
                                <div class="slider-tab-wrapper">
                                    <div class="tab-title">電子遊戲</div>
                                    <div class="tab-subtab-wrapper"><a class="tab-click active tab-subtab tab-three-items" href="#" data-tab="platform">8A平台</a></div>
                                </div>
                                <div class="tab-content active" target-tab="platform">
                                    <div class="game-slider">
                                        <div class="game-slides">
                                            <div class="box-border-shadow"></div><img class="full-width full-height" src="part1_game_bg.17b857e4.png">
                                            <div class="promote-slides-desc-wrapper game-slides-desc-wrapper"> 
                                                <div class="game-title"><img src="game_w.684eedbc.png"></div>
                                                <div class="promote-desc-text"> </div><a class="promote-desc-btn promote-game-btn gameLoginLink" href="login.html">進入遊戲<i class="ac ac-header_arrow news-arrow"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content" target-tab="ag">
                                    <div class="game-slider">
                                        <div class="game-slides">
                                            <div class="box-border-shadow"></div><img class="full-width full-height" src="part1_game_bg.17b857e4.png">
                                            <div class="promote-slides-desc-wrapper game-slides-desc-wrapper">
                                                <div class="game-title"><img src="game_w.684eedbc.png"></div>
                                                <div class="promote-desc-text"> </div><a class="promote-desc-btn promote-game-btn gameLoginLink" href="#" target="_blank">進入遊戲<i class="ac ac-header_arrow news-arrow"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content" target-tab="sa">
                                    <div class="game-slider">
                                        <div class="game-slides">
                                            <div class="box-border-shadow"></div><img class="full-width full-height" src="part1_game_bg.17b857e4.png">
                                            <div class="promote-slides-desc-wrapper game-slides-desc-wrapper">
                                                <div class="game-title"><img src="game_w.684eedbc.png"></div>
                                                <div class="promote-desc-text"> </div><a class="promote-desc-btn promote-game-btn gameLoginLink" href="#" target="_blank">進入遊戲<i class="ac ac-header_arrow news-arrow"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--sport slider-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bottom-box-wrapper last-box">
                            <div class="box-border">
                                <div class="tab-content active" target-tab="platform">
                                    <div class="sport-slider">
                                        <div class="sport-slides">
                                            <div class="box-border-shadow"></div><img class="full-width full-height" src="part1_sport_bg.da1ae028.jpg">
                                            <div class="promote-slides-desc-wrapper game-slides-desc-wrapper">
                                                <div class="sport-title"><img src="sport_w.c28d4ca8.png"></div>
                                                <div class="promote-desc-text"> </div><a class="promote-desc-btn promote-sport-btn coming-soon" href="javascript:void(0)">- 即將推出 -</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content" target-tab="ag">
                                    <div class="sport-slider">
                                        <div class="sport-slides">
                                            <div class="box-border-shadow"></div><img class="full-width full-height" src="part1_sport_bg.da1ae028.jpg">
                                            <div class="promote-slides-desc-wrapper game-slides-desc-wrapper">
                                                <div class="sport-title"><img src="sport_w.c28d4ca8.png"></div>
                                                <div class="promote-desc-text"> </div><a class="promote-desc-btn promote-sport-btn coming-soon" href="#" target="_blank">- 即將推出 -</a>
                                            </div>
                                        </div>
                                        <div class="sport-slides">
                                            <div class="box-border-shadow"></div><img class="full-width full-height" src="part1_sport_bg.da1ae028.jpg">
                                            <div class="promote-slides-desc-wrapper game-slides-desc-wrapper">
                                                <div class="sport-title"><img src="sport_w.c28d4ca8.png"></div>
                                                <div class="promote-desc-text"> </div><a class="promote-desc-btn promote-sport-btn" href="#" target="_blank">- 即將推出 -</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--discount events-->
                        <div id="discount-area-wrapper">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center index-title"><span class="common-title">優惠活動</span>
                                <div class="common-title-line"></div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 displayNone" id="discount-events-wrapper">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 discount-events-slide" v-for="promotion in promotions"><a class="discount-boxs" v-bind:href="'promotion_inner.html?id='+promotion.promotion_id" v-bind:target="promotion.open_link_type">
                                        <div class="discount-box-img">
                                            <div class="box-border-shadow"></div><img v-bind:src="promotion.banner">
                                        </div>
                                        <div class="discount-box-title">{{promotion.title}}</div>
                                        <div class="discount-box-desc">{{promotion.description}}</div>
                                        <div class="disocunt-box-more"> 更多<i class="ac ac-header_arrow news-arrow"></i>
                                            <div class="clearfix"></div>
                                        </div></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!--about 8A-->
                        <div id="about-area-wrapper">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><span class="common-title">關於8A</span>
                                <div class="common-title-line"></div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="about-subtitle-wrapper">
                                <div class="about-subtitle">亞洲最新興的博彩娛樂集團</div>
                                <div class="about-desc">8A平台重量打造，專注真人視訊的博彩平台，嚴格遵循國際標準流程和公平、公正、公開的原則，從洗牌到發牌全程跟蹤和監測。</div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="about-box-wrapper">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 about-us-slide">
                                    <div class="about-boxs">
                                        <div class="about-box-img">
                                            <div class="box-border-shadow"></div><img class="hide-in-ipad" src="part3_1.08175089.jpg"><img class="show-in-ipad" src="aboutus_banner1_mobile.73beb048.jpg">
                                        </div>
                                        <div class="about-box-title">國際化標準現場賭廳配備具有專業資格荷官和監管人員</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 about-us-slide">
                                    <div class="about-boxs">
                                        <div class="about-box-img">
                                            <div class="box-border-shadow"></div><img class="hide-in-ipad" src="part3_2.7edceca9.jpg"><img class="show-in-ipad" src="aboutus_banner2_mobile.6b4183d6.jpg">
                                        </div>
                                        <div class="about-box-title">高品質的現場視頻播放設備，以及現場即時電話驗證</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 about-us-slide">
                                    <div class="about-boxs">
                                        <div class="about-box-img">
                                            <div class="box-border-shadow"></div><img class="hide-in-ipad" src="part3_3.8a4ef654.jpg"><img class="show-in-ipad" src="aboutus_banner3_mobile.a92e03d7.jpg">
                                        </div>
                                        <div class="about-box-title">專業技術團隊24小時監測以確保平台運行穩定和流暢。</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 about-us-slide">
                                    <div class="about-boxs">
                                        <div class="about-box-img">
                                            <div class="box-border-shadow"></div><img class="hide-in-ipad" src="part3_4.396f2382.jpg"><img class="show-in-ipad" src="aboutus_banner4_mobile.46418e85.jpg">
                                        </div>
                                        <div class="about-box-title">在線客服團隊即時解答平台操作疑問</div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--h2= language-->
        <div class="footer">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-border">
                <div id="footer-bg-color">
                    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-center">
                        <ul class="footer-ul">
                            <li class="submenu"><a href="index.html">首頁</a></li>
                            <li class="submenu"><a href="about_8a.html">關於8A</a>
                                <ul>
                                    <li><a href="about_8a.html">公司簡介</a></li>
                                </ul>
                            </li>
                            <li class="submenu"><a href="member.html">會員專區</a>
                                <ul>
                                    <li><a class="redirect-check" href="member.html#saving" data-redirect="login.html">會員存款表格</a></li>
                                    <li><a class="redirect-check" href="member.html#withdraw" data-redirect="login.html">會員取款表格</a></li>
                                </ul>
                            </li>
                            <li class="submenu"><a href="game.html">遊戲簡介</a>
                                <ul>
                                    <li><a href="game.html">遊戲內容</a></li>
                                </ul>
                            </li>
                            <li class="submenu"><a href="promotion.html">優惠活動</a>
                                <ul>
                                    <li><a href="promotion.html">活動內頁</a></li>
                                </ul>
                            </li>
                            <li class="submenu"><a href="faq.html">常見問題</a>
                                <ul>
                                    <li><a href="download.html">下載中心</a></li>
                                </ul>
                            </li>
                            <li class="submenu" id="contact-us-menu"><a class="footer-float-parent" href="#">聯絡我們</a>
                                <ul class="footer-float-ul">
                                    <li class="qqSHOW"><i class="ac ac-footer_qq common-footer-icons"></i><a class="qqAccount qqlink" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2779750598&amp;site=qq&amp;menu=yes" target="_blank">載入中...</a>
                                        <div class="footerQQ">(24小時)</div>
                                    </li>
                                    <li class="skypeSHOW"><i class="ac ac-footer_skype common-footer-icons"></i><a class="skypeAccount skypeLink" href="skype:live:81f8ae81c22c4e10?chat">載入中...</a></li>
                                    <li class="wechatSHOW"><i class="ac ac-footer_wechat common-footer-icons"></i><a class="wechatAccount" href="javascript:void(0)">載入中...</a>
                                        <div class="wechatQR_out"><img class="wechatQR"></div>
                                    </li>
                                    <li class="emailSHOW"><i class="ac ac-footer_email common-footer-icons"></i><a class="emailAccount emailLink" href="javascript:void(0)">載入中...</a></li>
                                    <li class="phoneSHOW"><i class="ac ac-footer_phone common-footer-icons"></i><a class="phoneAccount phoneLink" href="javascript:void(0)">載入中...</a></li>
                                    <li class="whatsappSHOW"><i class="ac ac-footer_whatsapp common-footer-icons"></i><a class="whatsappAccount whatsappLink" href="javascript:void(0)">載入中...</a></li>
                                    <li class="addressSHOW"><i class="ac ac-address common-footer-icons"></i><a class="addressAccount" href="javascript:void(0)">載入中...</a></li>
                                </ul>
                                <ul class="footer-float-ul"></ul>
                            </li>
                        </ul>
                        <div id="company-wrapper">
                            <div class="footer-company-label">監管機構</div>
                            <div class="footer-company-logo-wrapper">
                                <div class="footer-company-logo"><img src="footer_logo_1.56822753.png"></div>
                                <div class="footer-company-logo"><img src="footer_logo_2.ecabcb32.png"></div>
                                <div class="footer-company-logo"><img src="footer_logo_3.4a8afd31.png"></div>
                                <div class="footer-company-logo"><img src="footer_logo_4.0c44e661.png"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="footer-border">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="declare-wrapper-bg">
                        <div class="col-lg-7 col-md-7 col-sm-8 col-xs-10 col-center" id="declare-wrapper">
                            <p class="declare-text">法律聲明：您需已年滿18歲，8A網上娛樂保留請求年齡證明權利。請務必遵守每個國家或地區的當地法律，如對遊戲有任何疑問，請尋求當地法律部門的意見.本公司不能亦不會接受任何人士違犯當地法律所引致之任何責任。</p>
                            <p id="copyright-text">8A © 2018 版權所有</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="apiLink" style="display: none">http://service.8a.bibsolution.net/</div>
        <script src="main.ade29328.js"></script>
    </body>
</html>